<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="dbstr" 
             connectionString="Server=DESKTOP-NN739M6;Database=pwir_zaliczenie; Integrated Security=true"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <authentication mode="Windows"/>
    </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" httpHelpPageEnabled="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Server.DBManagment" behaviorConfiguration="debug">
        <endpoint address="http://localhost:2222/Test"
                  binding="basicHttpBinding"
                  contract="SharedLib.IContract"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>